body {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
}

.header-bg {
  background-color: #960000;
}

ul {
  list-style: none;
}

.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 28px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.header-menu a {
  display: inline-block;
  color: #fff;
  padding: 16px 0px;
  font-size: 18px;
  position: relative;
}

.header-menu a:after {
  content: "";
  width: 0;
  height: 2px;
  background: #fff;
  margin-top: 4px;
  display: block;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-meu {
    gap: 20px;
  }

  .header-menu a:after {
    display: none;
  }

  .header-menu a {
    background: #111;
    padding: 12px 4px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background: #2e2e2e;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a:after {
    display: none;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
